# Auto detect text files and perform LF normalization
* text=auto

# Linguist Overrides
*.html -linguist-detectable=false
*.css -linguist-detectable=false
*.js -linguist-detectable=false
docs/** linguist-vendored
site/** linguist-vendored